body{
  font-family: 'Inter', sans-serif;
}

.floating-nav{
  position: absolute;
  z-index: 1;
  min-width: 180px;
  max-width: 240px;
  margin-top: 72px;
  margin-left: 72px;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(18, 19, 22, 0.3);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  color: white;
  padding: 24px 18px;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.navbar{
  padding-left: 36px;
  padding-right: 36px;
  background-color: #121316;
  height: 60px;
  width: 100%;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.floating-nav-cta-button{
  width: 100%;
  color: white;
  font-weight: 600;
  background-color: blueviolet;
  height: 40px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.floating-nav-cta-button:hover{
  background-color: rgb(113, 25, 196);
  cursor: pointer;
}

.floating-nav-outline-button{
  width: 100%;
  color: white;
  font-weight: 600;
  background-color: rgba(137, 43, 226, 0);
  height: 40px;
  border-radius: 5px;
  border: white 1px solid;
  cursor: pointer;
}

.floating-nav-dropdown{
  appearance: none;
  color:white;
  background-color: #12131640;
  border: 1px solid rgba(255, 255, 255, 0.125);
  width: 100%;
  height: 40px;
  border-radius: 5px;
  padding-left: 1rem;
  padding-right: 1rem !important;
}

.floating-nav-form{
  width: 100%;
}

.floating-info-box{
  position: absolute;
  z-index: 1;
  min-width: 240px;
  max-width: 240px;
  margin-top: 72px;
  right: 72px;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(18, 19, 22, 0.3);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  color: white;
  padding: 24px 18px;
  align-items: left;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.floating-info-tertiary-button{
  width: 100%;
  color: white;
  font-weight: 600;
  background-color: blueviolet;
  height: 28px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}